{% extends 'base.html.twig' %}

{% block titlePage %}
    <div class="row">
        <div class="col-md-6">
            <h2 class="mb-4">{{ project.title }}</h2>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="col-md-12 col-lg-8 main-content">
        <div class="row">
            <div class="post-content-body">
                <p>{{ project.content }}</p>
                <p>
                <ul class="list-group">
                    <li class="list-group-item">Mentor : {{ project.mentor }}</li>
                    <li class="list-group-item">Evaluateur : {{ project.evaluator }}</li>
                    <li class="list-group-item"><span class="category mb-5"> {{ project.validDate }}</span></li>
                </ul>
                </p>
                <p>
                    {% if project.detail != false %}
                        <img src="public/images/{{ project.detail }}" alt="project comment" class="img-fluid mb-5">
                    {% endif %}
                </p>
            </div>


        </div>
    </div>
{% endblock %}